---
import ModuleLayout from '@/layouts/ModuleLayout.astro';
import Todo from '@/design-system/blocks/Todo';
import ExternalLink from '@/components/ExternalLink.astro';
import type { SectionData } from '@/types/section-navigation';

const sectionData: SectionData = {
  number: "1.5",
  title: "Warming/Cooling/Emergency Shelter",
  moduleTitle: "Emergency Preparedness and Response",
  modulePath: "/modules/emergency-preparedness",
  prevSection: { number: "1.4", title: "Power supply", slug: "1-4-power" },
  nextSection: { number: "1.6", title: "Vehicles and Equipment", slug: "1-6-vehicles" }
};
---

<ModuleLayout sectionData={sectionData}>
      <table class="guide-table">
        <thead>
          <tr>
            <th style="width: 50%">
              <strong>Systems</strong>
            </th>
            <th style="width: 50%">
              <strong>Stuff</strong>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="guide-table__checklist">
                <Todo id="day-use-sites" moduleKey="warming-cooling-shelter" client:load>
                  Identify accessible day-use sites for people to congregate for cooling/warming centers
                  or rest
                </Todo>
                <Todo id="overnight-shelters" moduleKey="warming-cooling-shelter" client:load>
                  Identify shelters or other accessible places for people to sleep overnight
                </Todo>
                <Todo id="identify-meal-sources" moduleKey="warming-cooling-shelter" client:load>
                  <ExternalLink href="https://docs.google.com/document/d/14BP-QH2db38sJuVMp2Rs2AxfepnuEIUcJASnewGmioU/edit?tab=t.0#heading=h.kr2z9mn98cbm">Identify</ExternalLink> local restaurants or people to bring meals to the shelter
                </Todo>
              </div>
              <p>
                <em>
                  In both cases, look to churches, libraries, schools, municipal buildings, local
                  nonprofits for support in identifying these spaces.
                </em>
              </p>
              <div class="guide-table__checklist">
                <Todo id="directory-shelters" moduleKey="warming-cooling-shelter" client:load>
                  <ExternalLink href="https://drive.google.com/file/d/1S7LKMy_vRhA5tM5gHWOFE1qtN9iYKi3p/view?usp=drive_link">Create a
                  directory</ExternalLink> of day use, overnight, and other shelters.
                </Todo>
                <Todo id="volunteer-system" moduleKey="warming-cooling-shelter" client:load>
                  <ExternalLink href="https://drive.google.com/drive/folders/1GAq4V6yx2Pn83y-l6rbauGbzQlv46CCF">Create a
                  system</ExternalLink> for volunteer staffing, delivering supplies, and shuttling people to shelters
                </Todo>
              </div>
            </td>
            <td>
              <strong>For cooling/warming shelters</strong>
              <div class="guide-table__checklist">
                <Todo id="ac-heating" moduleKey="warming-cooling-shelter" client:load>
                  Provide air conditioning/heating
                </Todo>
                <Todo id="potable-water" moduleKey="warming-cooling-shelter" client:load>
                  Potable water
                </Todo>
                <Todo id="restroom-access" moduleKey="warming-cooling-shelter" client:load>
                  Restroom access
                </Todo>
                <Todo id="seating" moduleKey="warming-cooling-shelter" client:load>
                  Seating
                </Todo>
                <Todo id="family-room" moduleKey="warming-cooling-shelter" client:load>
                  Provide a separate room for kids and families
                </Todo>
                <Todo id="shuttle-transit" moduleKey="warming-cooling-shelter" client:load>
                  Offer a shuttle or locate the site near public transit
                </Todo>
                <Todo id="backup-power-available" moduleKey="warming-cooling-shelter" client:load>
                  If possible, keep a backup power source available
                </Todo>
                <Todo id="low-stimulation-areas" moduleKey="warming-cooling-shelter" client:load>
                  As is possible, create low-stimulation areas with minimal sound, soft seating, and low
                  light
                </Todo>
              </div>
              <strong>Additional supplies for overnight shelters</strong>
              <div class="guide-table__checklist">
                <Todo id="cots-mats-blankets" moduleKey="warming-cooling-shelter" client:load>
                  Foldable cots, sleeping mats, and blankets
                </Todo>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
</ModuleLayout>
