---
import ModuleLayout from '@/layouts/ModuleLayout.astro';
import Todo from '@/design-system/blocks/Todo';
import ExternalLink from '@/components/ExternalLink.astro';
import InfoCallout from '@/components/InfoCallout.astro';
import type { SectionData } from '@/types/section-navigation';

const sectionData: SectionData = {
  number: "1.6",
  title: "Vehicles and Equipment",
  moduleTitle: "Emergency Preparedness and Response",
  modulePath: "/modules/emergency-preparedness",
  prevSection: { number: "1.5", title: "Warming/Cooling/Emergency Shelter", slug: "1-5-shelter" },
  nextSection: { number: "1.7", title: "Sanitation and Hygiene", slug: "1-7-sanitation" }
};
---

<ModuleLayout sectionData={sectionData}>
      <InfoCallout icon="lock" variant="info">
        <p class="text-body text-foreground"><strong>How this works:</strong> Fill out the forms and checklists below online—your answers save automatically to your device and work offline. Your information never leaves your browser and stays completely private.</p>
      </InfoCallout>

      <table class="guide-table">
        <thead>
          <tr>
            <th style="width: 30%">
              <strong>Systems</strong>
            </th>
            <th style="width: 70%">
              <strong>Stuff</strong>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">
              <strong>Emergency shuttles</strong>
            </td>
          </tr>
          <tr>
            <td>
              <div class="guide-table__checklist">
                <Todo id="shuttle-directory" moduleKey="vehicles-equipment" client:load>
                  <a href="#">Create a directory</a> of people and equipment available for emergency
                  shuttling to shelters, if personal cars are compromised.
                </Todo>
                <Todo id="fire-emt-equipment" moduleKey="vehicles-equipment" client:load>
                  Connect with town fire/EMTs about if they have equipment designated for emergency
                  evacuation/transportation, and add that to the directory.
                </Todo>
              </div>
            </td>
            <td>
              <strong>Water transport</strong>
              <div class="guide-table__checklist">
                <Todo id="kayaks-life-vests" moduleKey="vehicles-equipment" client:load>
                  Consider purchasing kayaks and life vests and storing on high ground for use during
                  flooding (<ExternalLink href="https://foldupkayaks.com/">https://foldupkayaks.com/</ExternalLink>).
                </Todo>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <strong>Shared use vehicles</strong>
            </td>
          </tr>
          <tr>
            <td>
              <div class="guide-table__checklist">
                <Todo id="shared-vehicle-directory" moduleKey="vehicles-equipment" client:load>
                  <ExternalLink href="https://drive.google.com/file/d/1WGTfHGl9tRgEqzmeueS-8hHPSDqcx1Rs/view?usp=drive_link">Create a
                  directory</ExternalLink> of shared use vehicles, including who owns and insures vehicles.
                </Todo>
                <Todo id="access-system" moduleKey="vehicles-equipment" client:load>
                  Create a system for access and use. Ideally, vehicles are owned by a community entity
                  that has commercial insurance, or the vehicle itself has multiple owners. Or, just toss
                  someone your keys and ask them to return the vehicle when they're done!
                </Todo>
              </div>
            </td>
            <td>
              <strong>Useful vehicles to have for shared use</strong>
              <div class="guide-table__checklist">
                <Todo id="4x4-truck" moduleKey="vehicles-equipment" client:load>
                  4x4 Truck with a hitch and ample tow capacity
                </Todo>
                <Todo id="dump-trailer" moduleKey="vehicles-equipment" client:load>
                  Dump trailer (handy for moving flood debris, building materials, four wheelers, etc)
                </Todo>
                <Todo id="tool-trailer" moduleKey="vehicles-equipment" client:load>
                  Tool trailer, enclosed
                </Todo>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <strong>Heavy equipment directory</strong>
            </td>
          </tr>
          <tr>
            <td>
              <div class="guide-table__checklist">
                <Todo id="heavy-equipment-directory" moduleKey="vehicles-equipment" client:load>
                  Create a <ExternalLink href="https://drive.google.com/file/d/1lIdpnkjjrCrk4e1OMb1hsHeX3u4Xs49D/view?usp=drive_link">directory of heavy
                  equipment</ExternalLink> that can be mobilized for emergency use.
                </Todo>
                <Todo id="municipal-equipment" moduleKey="vehicles-equipment" client:load>
                  Connect with municipality to understand what kind of heavy equipment they have, and what
                  might be available for community disaster response use.
                </Todo>
              </div>
            </td>
            <td>
              <strong>Useful equipment</strong>
              <div class="guide-table__checklist">
                <Todo id="plow-trucks" moduleKey="vehicles-equipment" client:load>
                  Plow Trucks (with salt & sand spreaders)
                </Todo>
                <Todo id="grader" moduleKey="vehicles-equipment" client:load>
                  Grader
                </Todo>
                <Todo id="front-end-loader" moduleKey="vehicles-equipment" client:load>
                  Front-End Loader
                </Todo>
                <Todo id="backhoe-loader" moduleKey="vehicles-equipment" client:load>
                  Backhoe Loader (Front end attachments w/ excavator arm at rear)
                </Todo>
                <Todo id="skid-steer-loader" moduleKey="vehicles-equipment" client:load>
                  Skid Steer Loader / Bobcat
                </Todo>
                <Todo id="track" moduleKey="vehicles-equipment" client:load>
                  Track
                </Todo>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
</ModuleLayout>
